---

name: 'Workflow'

on:
  workflow_dispatch:
    inputs:
      runDev:
        description: 'Run Dev'
        required: true
        default: 'true'

jobs:

  first_job:
    name: First Job
    runs-on: ubuntu-latest
    outputs:
      matrix_order: ${{ steps.random.outputs.matrix_order }}
    defaults:
      run:
        shell: bash

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Change files script
      id: matrix_order
      run: |
        if [[ ${{ github.event.inputs.runDev }} == "true" ]]
        then
          echo "matrix_order='[dev, tst]'" >> "$GITHUB_OUTPUT"
        else
          echo "matrix_order='[tst]'" >> "$GITHUB_OUTPUT"
        fi

  second_job:
    name: 'Second Job'
    # if: needs.load_config.outputs.config != '{}'
    runs-on: ubuntu-latest
    needs: first_job
    strategy:
      matrix:
        stage: ${{fromJson(needs.first_job.outputs.matrix_order)}}
      fail-fast: true
      max-parallel: 1
    defaults:
      run:
        shell: bash

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Terraform fmt
      run: |
        echo "terraform -chdir="$GITHUB_WORKSPACE/terraform/${{ matrix.stage }} fmt -check -recursive"
