---

name: 'Workflow'

on:
  workflow_dispatch:
    inputs:
      runDev:
        description: 'Run Dev'
        required: true
        type: boolean
        default: true

permissions:
  contents: read

jobs:

  first_job:
    name: First Job
    runs-on: ubuntu-latest
    outputs:
      matrix_order: ${{ steps.set_matrix.outputs.matrix }}
    defaults:
      run:
        shell: bash

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Create matrix order
      id: set_matrix
      run: |
        echo "input: ${{ github.event.inputs.runDev }}"
        if [[ "${{ github.event.inputs.runDev }}" == "true" ]]
        then
          matrix='{"stage": ["dev","tst"]}'
        else
          matrix='{"stage": ["tst"]}'
        fi

        jq <<< "$matrix"
        echo "matrix=$matrix" >> "$GITHUB_OUTPUT"

  second_job:
    name: 'Second Job'
    runs-on: ubuntu-latest
    needs: first_job
    strategy:
      matrix: ${{fromJson(needs.first_job.outputs.matrix_order)}}
      fail-fast: true
      max-parallel: 1
    defaults:
      run:
        shell: bash

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Check output
      run: |
        echo "OUTPUT: $OUTPUT"
      env:
        OUTPUT: ${{needs.first_job.outputs.matrix_order}}

    - name: Terraform fmt
      run: |
        echo "terraform -chdir=$GITHUB_WORKSPACE/terraform/${{ matrix.stage }} fmt -check -recursive"
